<div class="card">
  <div class="card-header">
    <img src="ImgPrin.png">
    <div>
      <h1>Sebastián Zambrano</h1>
      <p>Estudiante del Instituto Tecnológico Sudamericano</p>
    </div>

</div>
  <h2>Blog Personal</h2>
  <p>Soy una persona paciente y sociable me gusta escuchar música,
     armar cubos rubik y hacer puzles. Tengo 19 años vivo en la ciudad de Cuenca, estoy aprendiendo a programar además
      tengo 2 hermanos y yo soy el del medio
     </p>

  <div class="images">
    <img src="Img1.png">
    <img src="Img2.png">
    <img src="Img3.png">
    <img src="Img4.png">
  </div>

  <div class="description">
    <p>Estudio en el Tecnológico Superior Sudamericano en la carrera de Desarrollo de Software 1er Ciclo</p>
  </div>
  <div class="card-header">
  </div>